<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/67d9f0f62c.js" crossorigin="anonymous"></script>
    <title>GESTION DE TAREAS</title>
  </head>
  <body>
    <div class="container" id="app">
        <div class="row">
            <div class="col">
                <h1 class="text-center">{{titulo}}</h1>
                <input type="text" class="form-control mt-4" placeholder="Ingresa una nueva tarea" v-model="nuevaTarea" @keyup.enter="agregarTarea">
                <div class="d-grid">
                    <button class="btn btn-success btn-block" @click="agregarTarea">Guardar</button>
                </div>
                <hr>
                <div class="col">
                    <div class="d-flex justify-content-between  align-items-center" role="alert" v-for="(item, index) of tareas" :class="['alert', item.estado ? 'alert-success':'alert-danger']">
                        <div>
                            {{index}}) {{item.tarea}} - {{item.estado}} 
                        </div>
                        <div>
                            <button class="btn btn-success" @click="editarEstado(index)">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger" @click="borrarTarea(index)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                    <span v-if=""></span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="practica1.js"></script>
  </body>
</html>